*{
    margin: 0;
    padding: 0;
}

header{
    background-color: mediumvioletred;
    display: grid;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30px;
    height: 30px;
}
.logo h1{
    display: inline;
}

.login{
    display: flex;
    grid-column-start: 3;
    justify-content: center;
    align-items: center;
}

.login button{
    width: 50px;
}

main{
    display: grid;
    grid-template-columns: 200px auto;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
    
}

.menu p{
    display: inline;
}

.menu img{
    width: 30px;
    height: 30px;
}


.opcoesmenu{
    display: flex;
    align-items: center;
}